<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8">
            <title>Cadastro Pedidos</title>
            <meta name="author" content="Felipe Ferreira/Héuller Soares">
            <meta name="description" content="Cadastro Pedidos">
            <link rel="stylesheet" href="../css/estilo.css">
        </head>
        <body>
            <section>
                
                    <form method="post" action="..\controller\C_cadastropedido.php" autocomplete="off">
                        <h2>CADASTRO DE PEDIDOS</h2>
                        <fieldset>
                            <legend>Campos com * são obrigatórios</legend>
                            
                            <!-- ID Pedido *<br> <input type="number" maxlength="12" name="idPedido" placeholder="Informe o ID" required autofocus><br><br>-->
                            
                            ID Funcionario *<br> <input type="number" maxlength="12" name="idFuncionario" required><br><br>
                            
                            ID Pizza *<br> <input type="number" maxlength="12" name="idPizza" required><br><br>
                            
                            ID Bebida *<br> <input type="number" maxlength="12" name="idBebida" required><br><br>
                            
                            ID Conta *<br> <input type="number" maxlength="12" name="idConta" required><br><br>

                            Observações<br> <input type="text" name="observacoes"><br><br>
               
                            Mesa *<br> <input type="number" maxlength="3" name="mesa" required><br><br>
                            
                            Entrega *<input type="radio" name="entrega" value="Entrega"> Sim
							<input type="radio" name="entrega" value="Local" checked> Não <br><br>
                            
                            <br>
                            <input type="reset" value="Limpar">
                            <input type="submit" value="Salvar">
                            
                            

                        </fieldset>
                    
                    </form>
                
            </section>
       
        </body>
    </html>

