<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8">
            <title>Cadastro Clientes</title>
            <meta name="author" content="Felipe Ferreira/Héuller Soares">
            <meta name="description" content="Cadastro Clientes">
            <link rel="stylesheet" href="../css/estilo.css">
        </head>
        <body>
            <section>
            <form action="..\controller\C_cadastrocliente.php" method="POST">
                <h2>CADASTRO DE CLIENTES</h2>
                <fieldset>
                    <legend>Campos com * são obrigatórios</legend>
                    Nome Cliente *<br> <input type="text" name="nome" placeholder="Informe o nome do cliente" autofocus required> <br><br>
                    Data de nascimento * <br> <input type="text" name="datanascimento" required> <br><br>
                    CPF * <br> <input  type="text" name="cpf" required> <br><br>


                    Sexo *<input type="radio" name="sexo" value="Masculino"> Masculino
                    <input type="radio" name="sexo" value="Feminino" checked> Feminino <br><br>

                    Atendimento especial *<input type="radio" name="atendimentoespecial" value="Sim"/> Sim
                    <input type="radio" name="atendimentoespecial" value="Não" checked> Não <br><br>


                    Cidade *<br> <input type="text" name="cidade"required> <br><br>
                    Endereco *<br> <input type="text" name="endereco" required> <br><br>
                    Bairro *<br> <input type="text" name="bairro" required> <br><br>
                    Telefone Fixo <br> <input type="number" name="telefone" > <br><br>
                    Celular <br> <input type="number" name="celular" > <br><br>
                    E-mail * <br> <input type="text" name="email" required> <br><br>
                    <input type="reset" name="reset" value="Limpar dados"/>
                    <input type="submit" name="enviar" value="Enviar dados"/>

                </fieldset>
            </form>
            </section>
    </body>
</html>
